/* Basics */
body {
    text-align: center;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* Layout */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.header, .row {
    flex: 1;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;
    padding: 8px;
}

ul {
    display: flex;
    justify-content: right;
    gap: 8px;
    flex:1;
}

.links li a{
    border-radius:10px;
    border: solid 2px white;
    padding:4px;
}

.title {
    flex: 1;
    max-height: 40px;
}

.logo-container {
    flex:1;
    text-align: left;
}

#logo {
    max-height: 40px;
}

/* Rows */
.row {
    display: flex;
    max-height: 20vh;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15% 5%;
}

/* Row 1 */
#one {
    text-align: left;
    flex: 1;
    background-color: #1f2937;
    color: #f9faf8;
}

#one * {
    flex: 1;
}

#one img {
    text-align: center;
    padding: auto;
    max-width: 40%;
}

#welcome {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 8px;
}

#message {
    font-size: smaller;
    margin-bottom: 8px;
}

#one button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: large;
}

/* Row 2 */

#two {
    flex-direction: column;
    justify-content: center;
}

.portfolio {
    display: flex;
    gap: 16px;
}

#port-text {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 24px;

}

.card img {
    border: solid 2px #3882f6;
    border-radius: 8px;
    width: 120px;
    margin-bottom: 8px;
}

/* Row 3 */
#three {
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

#quote {
    font-style: italic;
    text-align: left;
    font-size: larger;
}

#author {
    align-self: self-end;
    font-weight: bold;
}

/* Row 4 */
.container {
    border-radius: 8px;
    background-color: #3882f6;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
    text-align: left;
    color: white;
    gap: 32px;
}

#call {
    font-size: large;
    font-weight: bold;
}

.container button {
    background-color: #3882f6;
    border:solid 2px white;
    border-radius: 4px;
    color: inherit;
    font-weight: bold;
    padding: 0;
    flex: 1;
    margin: auto;
}

.left {
    flex: 3;
}

/* Footer */
.footer{
    min-height: 40px;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}